/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	color: var(--main-color);
    background: linear-gradient(var(--linear-gardient-start), var(--linear-gardient-end));
	background-image:
	   linear-gradient(90deg, transparent 2px, transparent 2px),
	   linear-gradient( var(--background-lines) 2px, transparent 2px),
	   linear-gradient(90deg, var(--background-lines) 1px, transparent 2px),
	   linear-gradient(var(--linear-gardient-start), var(--linear-gardient-end));
   background-size:100% 100%, 4px 4px, 4px 4px;
   background-position: center center;
   padding-top: 100px;
}

.main-icon{
	width: 36px;
	height: 36px;
}

.header {
	margin-bottom: 100px;
	width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
	background: var(--background);
	border: 2px solid var(--main-color);
	margin-left: auto;
	margin-right: auto;
}

.title_main {
	display: block;
	font-family: "Press Start 2P", 'Inter';
	margin-top: 136px;
	margin-left: auto;
	margin-right: auto;
	font-size: clamp(36px, 6.17vw,65px);
	text-transform: uppercase;
	text-align: center;
}

.title_under_main {
	font-family: 'Press Start 2P', 'Inter';
	margin-top: 20px;
	font-size: clamp(14px, 2.2vw,23px);
	text-transform: uppercase;
	text-align: center
}

.theme-menu__list {
	margin-top: 25px;
	max-width: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.theme-menu__item {
	display: flex;
	margin-bottom: 14px;
}

.theme-menu__button {
	font-family: 'Press Start 2P', 'Inter';
	border: none;
	outline: none;
	font-size: 14px;
	background: transparent;
	text-transform: uppercase;
	position: relative;
	cursor: url(../images/pointer.png), pointer;
	padding: 0px;
	margin-left: 6px;
	transition: 0.3s;
}

.theme-menu__button:after {
	position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    transition: 0.3s;
    height: 2px;
    background: var(--main-color);
}

.theme-menu__button:focus:after {
	outline: none;
}

.theme-menu__button:focus-visible:after {
	width: 100%;
}

.theme-menu__button:focus {
	outline: none;
}

.theme-menu__button:focus-visible {
	opacity: 0.6; 
}

.theme-menu__button:hover {
	opacity: 0.6; 
}

.theme-menu__button:disabled:before {
	content: "▶";
	position: absolute;
	inset-block-start: auto;
	inset-inline-start: auto;
	left: -14px;
	animation: pointer 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled {
	opacity: 0.6;
	pointer-events: none;
}

.main {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.post {
	display: block;
	max-width: 700px;
	background: var(--background);
	border: 2px solid var(--main-color);
	margin-bottom: 50px;
}

.post_title {
	display: flex;
	font-variation-settings: 'wght' 700;
	font-size: 18px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 10px;
	align-items: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.div_image {
	display: block;
	max-width: 696px;
	margin-left: auto;
	margin-right: auto;
	aspect-ratio: auto;
	border-top: 2px solid var(--main-color);
	border-bottom: 2px solid var(--main-color);
	height: 100%;
	position: relative;
}

.image {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
}

.filter_half_saturate {
	filter: saturate(50%);
}

.filter_extra_saturate {
	filter: saturate(300%);
}

.filter_hue-rotate {
	filter: hue-rotate(30deg);
}

.filter_invert {
	filter: invert(100%);
}

.filter_sepia {
	filter: sepia(100%);
}

.filter_blur {
	filter: blur(15px);
}

.filter_hue-rotate_blur_grayscale_opacity {
	filter: hue-rotate(90deg) blur(2px) grayscale(50%) opacity(80%);
}

.watermark {
	position: absolute;
	font-family: 'Press Start 2P', 'Inter';
	z-index: 3;
	font-size: 14px;
	right: 25px;
	top: 25px;
	opacity: 0.5;
	mix-blend-mode: hard-light;
	color: var(--main-color);
	text-shadow: 
		1px 0 0px var(--background), 
		0 1px 0px var(--background), 
		-1px 0 0px var(--background), 
		0 -1px 0px var(--background);
}

.div_text {
	max-width: 646px;
	margin-left: auto;
	margin-right: auto;
}

.text {
	font-size: 18px;
	margin-top: 27px;
}

.div_like {
	display: flex;
	margin-left: auto;
	margin-right: 25px;
	margin-top: 24px;
	margin-bottom: 24px;
	max-width: 169px;
	position: relative;
	font-family: 'Press Start 2P', 'Inter';
}

.card__like-button {
	border: 2px solid var(--main-color);
	width: 130px;
	height: 38px;
	cursor: url(../images/pointer.png), pointer;
	position: relative;
	overflow: hidden;
	background: transparent;
	z-index: 1;
	transition: left 0.5s ease-in-out;
	font-size: 14px;
	color: var(--main-color);
}

.card__like-button:before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: var(--main-color);
	transition: left 0.5s ease-in-out;
		z-index: -1;
}

.card__like-button:hover:before {
	left: 0;
}

.card__like-button:hover {
	transition: 0.5s;
	color: white;
}

.card__like-button:focus {
  box-shadow: 2px 2px 0px var(--main-color);
  outline: none;
}

.save {
	align-items: center;
	display: flex;
}

.save__button {
	max-width: 335px;
	font-family: 'Press Start 2P', 'Inter';
	outline: 2px solid var(--main-color);
	border: 0px solid var(--main-color);
	background: var(--background);
	position: relative;
	cursor: url(../images/pointer.png), pointer;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	overflow: hidden;
	color: var(--main-color);
	display: inline-flex;
	padding: 15px 20px;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
}

.save_title {
	font-weight: 400;
	font-size: 14px;
}

.save__button:before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: var(--main-color);
	transition: left 0.5s ease-in-out;
	z-index: -1;
}

.save__button:hover:before {
	left: 0;
}

.save__button:hover {
	transition: 0.5s;
	color: white;
	--floppy-color: white;
}

.dialog {
	max-width: 357px;
	color: var(--main-color);
	background: var(--background);
	display: flex;
	position: fixed;
	padding: 30px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	font-family: 'Press Start 2P', 'Inter';
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.dialog_title_div {
	display:flex;
	padding-bottom: 30px;
}

.dialog_title_form {
	justify-content: center;
	align-items: center;
}

.dialog__button {
	width: 100%;
	align-items: center;
	font-family: 'Press Start 2P', 'Inter';
	border: 2px solid var(--main-color);
	outline: none;
	background: var(--background);
	position: relative;
	cursor: url(../images/pointer.png), pointer;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	overflow: hidden;
	color: var(--main-color);
	font-size: 14px;
	padding: 9px 0px;
}

.dialog_title {
	max-width: 234px;
	padding-left: 20px;
	line-height: 150%;
	font-size: 14px;
}

.dialog__button:before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: var(--main-color);
	transition: left 0.5s ease-in-out;
	z-index: -1;
}

.dialog__button:hover:before {
	left: 0;
}

.dialog__button:hover {
	transition: 0.5s;
	color: white;
	--floppy-color: white;
}

.card__icon-button:focus {
	outline: 0px solid var(--main-color);
	border: 0px solid var(--main-color);
}

.card__icon-button:focus-visible {
	outline: 2px solid var(--main-color);
	border: 0px solid var(--main-color);
	transition: 0.3s;
}

@media (width <= 375px) {
	.save__button {
		flex-direction: column;
	}
	.floppy_disk {
		width: 28px; 
		height: 28px;
	}
}