/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	color: var(--main-color);
	background-image:
		repeating-linear-gradient(to bottom, var(--background-lines) 0px 2px, transparent 2px 4px), 
		repeating-linear-gradient(to right, var(--background-lines) 0px 2px,transparent 2px 4px),
		linear-gradient(to bottom, var(--linear-gardient-start), var(--linear-gardient-end));
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   padding-top: 100px;
   padding-bottom: 105px;
}

.header {
	margin-bottom: 100px;
	width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
	background: var(--background);
	border: 2px solid var(--main-color);
	margin-left: auto;
	margin-right: auto;
}

.header_logo {
	display: block;
	font-family: "Press Start 2P", fantasy;
	margin-top: 136px;
	margin-left: auto;
	margin-right: auto;
	font-size: clamp(3.0625rem, 2.710387323943662rem + 1.5023474178403755vw, 4.0625rem);
	text-transform: uppercase;
	text-align: center;
}

.title_main {
	font-family: 'Press Start 2P', fantasy;
	margin-top: 20px;
	font-size: clamp(14px, 2.2vw,23px);
	text-transform: uppercase;
	text-align: center
}

.theme-menu__list {
	margin-top: 25px;
	max-width: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.theme-menu__item {
	display: flex;
	margin-bottom: 14px;
}

.theme-menu__button {
	font-family: 'Press Start 2P', fantasy;
	border: none;
	outline: none;
	font-size: 14px;
	background: transparent;
	text-transform: uppercase;
	position: relative;
	cursor: url(../images/pointer.png), pointer;
	padding: 0px;
	margin-left: 6px;
	transition: 0.3s;
}

.theme-menu__button:after {
	position: absolute;
    content: '';
    left: 0px;
    bottom: -3px;
    display: block;
    width: 0;
    transition: 0.3s;
    height: 2px;
    background: var(--main-color);
}

.theme-menu__button:focus:after {
	outline: none;
}

.theme-menu__button:focus-visible:after {
	width: 100%;
}

.theme-menu__button:focus {
	outline: none;
}

.theme-menu__button:focus-visible {
	opacity: 0.6; 
}

.theme-menu__button:hover {
	opacity: 0.6; 
}

.theme-menu__button:disabled:before {
	content: "▶";
	position: absolute;
	inset-block-start: 0px;
	inset-inline-start: -14px;
	animation: pointer 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled {
	opacity: 0.6;
	pointer-events: none;
}

.main {
	width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
	margin-left: auto;
	margin-right: auto;
}

.post {
	display: block;
	background: var(--background);
	border: 2px solid var(--main-color);
	margin-bottom: 48px;
}

.post_title {
	display: flex;
	font-size: 18px;
	font-variation-settings: 'wght' 700;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 10px;
	margin-right: 10px;
	align-items: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.div_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	aspect-ratio: auto;
	border-top: 2px solid var(--main-color);
	border-bottom: 2px solid var(--main-color);
	height: 100%;
	position: relative;
}

.image {
	display: block;
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

.filter_half_saturate {
	filter: saturate(50%);
}

.filter_extra_saturate {
	filter: saturate(300%);
}

.filter_hue-rotate {
	filter: hue-rotate(30deg);
}

.filter_invert {
	filter: invert(100%);
}

.filter_sepia {
	filter: sepia(100%);
}

.filter_blur {
	filter: blur(15px);
}

.filter_hue-rotate_blur_grayscale_opacity {
	filter: hue-rotate(90deg) blur(2px) grayscale(50%) opacity(80%);
}

.watermark {
	position: absolute;
	font-family: 'Press Start 2P', fantasy;
	z-index: 3;
	font-size: 14px;
	right: 25px;
	top: 25px;
	opacity: 0.5;
	mix-blend-mode: hard-light;
	color: var(--main-color);
	text-shadow: 
		1px 0 0px var(--background), 
		0 1px 0px var(--background), 
		-1px 0 0px var(--background), 
		0 -1px 0px var(--background);
}

@supports((text-stroke: 1px var(--background)) or (-webkit-text-stroke: 1px var(--background))) {
    .watermark {
        -webkit-text-stroke: 1px var(--background);
        text-stroke: 1px var(--background);
		text-shadow: none;
    }
} 

.div_text {
	margin-left: auto;
	margin-right: auto;
}

.text {
	font-size: 18px;
	margin-top: 27px;
	margin-left: 25px;
	margin-right: 25px;
}

.div_like {
	display: flex;
	margin-left: auto;
	margin-right: 25px;
	margin-top: 24px;
	margin-bottom: 24px;
	position: relative;
	font-family: 'Press Start 2P', fantasy;
}

.card__like-button {
	width: 130px;
	padding: 3px 7px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--main-color);
}

.save {
	align-items: center;
	display: flex;
}

.button {
	outline: none;
	border: 2px solid var(--main-color);
	background: var(--background);
	z-index: 1;
	overflow: hidden;
	color: var(--main-color);
	display: inline-flex;
	position: relative;
	align-items: center;
	cursor: url(../images/pointer.png), pointer;
	font-family: 'Press Start 2P', fantasy;
	font-size: 14px;
	justify-content: center;
	transition: all 0.3s ease;
}

.floppy_disk {
	mix-blend-mode: difference;
	z-index: 3;
}

.save__button {
	max-width: 340px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 20px;
	gap: 8px;
	flex-shrink: 0;
}

.button__text {
	font-weight: 400;
	font-size: 14px;
	z-index: 2;
	position: relative;
	color: var(--anti-main-color);
	transition: color 0.5s;
	mix-blend-mode: difference;
}

.button:before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: var(--main-color);
	transition: all 0.5s ease-in-out;
	z-index: -1;
}

.button:hover:before {
	left: 0;
}

.dialog[open] {
	display:flex;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	max-width: 357px;
	color: var(--main-color);
	background: var(--background);
	font-family: 'Press Start 2P', fantasy;
	padding: 30px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;	
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.dialog_title_div {
	display:flex;
	padding-bottom: 30px;
    align-items: center;
}

.dialog_title_form {
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.dialog__button {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 9px 0px;
}

.dialog_title {
	max-width: 234px;
	line-height: 150%;
	font-size: 14px;
}

.card__icon-button {
	padding: 0px;
	background: transparent;
	margin-right: 6px;
	margin-left: auto;
	transition: all 0.3s ease;
	border: 2px solid transparent;
}

.card__icon-button:focus {
	outline: none;
	border: 2px solid transparent;
}

.card__icon-button:focus-visible {
	outline:none;
	border: 2px solid var(--main-color);
}

.dialog_icon { 
	width: 39px; 
	height: 39px;
	margin-right: 20px;
}

@media (width <= 375px) {
	.save__button {
		flex-direction: column;
	}
	.floppy_disk {
		width: 28px; 
		height: 28px;
	}
	.watermark {
		right: 11px;
	}
	.header { 
		width: 100%; 
	}
	.header_logo { 
		font-size: clamp(2.5rem, -0.7727rem + 16.3636vw, 3.0625rem);
		margin-top: 120px;
	}
	.main { 
		width: 100%; 
	}
	.dialog_title_div {
		justify-content: center;
	}
	.dialog[open] {
		max-width: 350px;
		padding: 30px 42px;
	}
}