/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

@media (prefers-color-scheme: light) {
	:root {
		--main-color: black;
		--background: #FFF;
		--floppy-color: white;
		--linear-gardient-start: #E7E7E7;
		--linear-gardient-end: #1A1A1A;
		--background-lines: #d3d3d3;
		--anti-main-color: white;
	}
}

.theme-light { 
	--main-color: black;
	--floppy-color: white;
	--background: #FFF;
	--linear-gardient-start: #E7E7E7;
	--linear-gardient-end: #1A1A1A;
	--background-lines: #d3d3d3;
	--anti-main-color: white;
}

.theme-dark	{ 
	--main-color: #00CC14;
	--floppy-color: #00CC14;
	--background: black;
	--linear-gardient-start: #007F0C;
	--linear-gardient-end: #004306;
	--background-lines: black;
	--anti-main-color: #00CC14;
}