/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
@media (width <= 375px) {
	.footer__button {
		flex-direction: column;
	}
	.diskette {
		width: 28px; 
		height: 28px;
	}
}