/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
	--main-color: #00CC14;
	--floppy-color: #00CC14;
	--background: black;
	--linear-gardient-start: #007F0C;
	--linear-gardient-end: #004306;
	--background-lines: black;
}